# Midtrans Sandbox
MIDTRANS_MERCHANT_ID=M167xxxxx
MIDTRANS_CLIENT_KEY=Mid-client-xxxxxxxxxxxxxxxx
MIDTRANS_SERVER_KEY=Mid-server-xxxxxxxxxxxxxxxx

# OneSignal
ONESIGNAL_APP_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
ONESIGNAL_REST_KEY=os_v2_app_xxxxxxxxxxxxxxxx
